<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="D:\POR_Automation\POR" />
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="DJANGO_SETTINGS_MODULE" value="POR.settings" />
  </appSettings>
</configuration>