<!DOCTYPE html>
<html>
	<body>
		<p ALIGN = "CENTER">
		History ID : {} <br>
		Owner : {} <br>
		Changes : {} <br>
		Revision : {} 
		</p>
		<TABLE BORDER="3" ALIGN = "CENTER" WIDTH="60%">
			<TR ALIGN = "CENTER">
				<TH COLSPAN = "3"> Node Info Updates </TH>
			</TR>
			<TR  ALIGN = "CENTER">
				<TD>Item</TD>
				<TD>Old Value</TD>
				<TD>New Value</TD>
			</TR>
			<TR ALIGN = "CENTER">
				<TD>Node Name</TD>
				<TD>{}</TD>
				<TD>{}</TD>
			</TR>
			<TR  ALIGN = "CENTER">
				<TD>Display Columns</TD>
				<TD>{}</TD>
				<TD>{}</TD>
			</TR>
		</TABLE>
		<br><br>
		<TABLE BORDER="3" ALIGN = "CENTER" WIDTH="60%">
            <TR ALIGN = "CENTER">
                <TH COLSPAN = "3">
                    Section Definition Updates
                </TH>
            </TR>
			<TR ALIGN = "CENTER">
				<TD>Item</TD>
				<TD>Old Value</TD>
				<TD>New Value</TD>
			</TR>
			<TR ALIGN = "CENTER">
				<TD>Section Name</TD>
				<TD>{}</TD>
				<TD>{}</TD>
			</TR>
			<TR ALIGN = "CENTER">
				<TD>Section Descriptions</TD>
				<TD>{}</TD>
				<TD>{}</TD>
			</TR>
		</TABLE>
		<br><br>
		<TABLE BORDER="3" ALIGN = "CENTER" WIDTH="60%">
            <TR ALIGN = "CENTER">
                <TH COLSPAN = "3">
                    POR Item Definition Updates
                </TH>
            </TR>
			<TR ALIGN = "CENTER">
				<TD>Item</TD>
				<TD>Old Value</TD>
				<TD>New Value</TD>
			</TR>
			<TR ALIGN = "CENTER">
				<TD>Item Name</TD>
				<TD>{}</TD>
				<TD>{}</TD>
			</TR>
			<TR ALIGN = "CENTER">
				<TD>Item Options</TD>
				<TD>{}</TD>
				<TD>{}</TD>
			</TR>
		</TABLE>
		<br><br>
		<TABLE BORDER="3" ALIGN = "CENTER" WIDTH="60%">
            <TR  ALIGN = "CENTER">
                <TH COLSPAN = "5">
                    POR Item Value Updates:<br>
                    Node : /core94/GA10x/GDDR6/ALL_BU
                </TH>
            </TR>
			<TR ALIGN = "CENTER">
				<TD>Section</TD>
				<TD>Item</TD>
				<TD>Column</TD>
				<TD>Old Value</TD>
				<TD>New Value</TD>
			</TR>
			<TR ALIGN = "CENTER">
				<TD>{}</TD>
				<TD>{}</TD>
				<TD>{}</TD>
				<TD>{}</TD>
				<TD>{}</TD>
			</TR>
			<TR ALIGN = "CENTER">
				<TD>{}</TD>
				<TD>{}</TD>
				<TD>{}</TD>
				<TD>{}</TD>
				<TD>{}</TD>
			</TR>
		</TABLE>
		<br><br>
				

	</body>
</html>
